.Logo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid rgba(231, 210, 27, 1);
  background-image: url(./../../../assets/imgs/avatar.png);
  background-size: cover;
  background-position: center;
}
