.Skill {
  margin-bottom: 20px;
  &-name {
    color: rgba(231, 210, 27, 1);
    margin-bottom: 5px;
  }

  &-bar {
    position: relative;
    background: rgb(126, 127, 129);
    border-radius: 3px;
    height: 18px;
  }

  &-level {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: rgba(85, 92, 104, 1);
      font-weight: 500;
    }
  }
}
