.Skill {
  margin-bottom: 20px;
  overflow: hidden;

  &-name {
    color: rgba(231, 210, 27, 1);
    margin-bottom: 5px;
  }

  &-bar {
    position: relative;
    background: rgb(126, 127, 129);
    border-radius: 3px;
    height: 18px;
  }

  &-level {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    transform: translateX(-110%);

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: rgba(85, 92, 104, 1);
      font-weight: 500;
    }
  }
}

@for $i from 1 through 7 {
  .Skill-level-#{$i} {
    animation: animatedSkill 0.5s ease-out 0.1s * $i 1 forwards;

    @keyframes animatedSkill {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
