.Skill {
  margin-bottom: 20px;
  &-name {
    color: white;
    margin-bottom: 5px;
  }

  &-bar {
    width: 70%;
    position: relative;
    background: #fff;
    border-radius: 5px;
    height: 20px;
  }

  &-level {
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    // background: rgb(11, 147, 151);
    background: rgba(231, 210, 27, 1);
    border-radius: 5px;

    span {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: rgba(85, 92, 104, 1);
      font-weight: 500;
    }
  }
}
