.NavLeft {
  flex-basis: 50%;
  background: rgba(96, 104, 117, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: show 0.3s ease-out 1 forwards;

  @keyframes show {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  .Logo-wrapper {
    height: 300px;
    width: 300px;
    @media screen and (max-width: 900px) {
      height: 250px;
      width: 250px;
    }

    @media screen and (max-width: 600px) {
      height: 120px;
      width: 120px;
    }
  }

  @media screen and (max-width: 600px) {
    flex-basis: 30%;

    @keyframes show {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
