.Project {
  padding: 0 15px;
  margin-bottom: 40px;
  opacity: 0;
  overflow: hidden;

  &--image {
    border: 3px solid white;
    margin-bottom: 15px;
    position: relative;

    &:hover:after,
    &:hover .Project--name {
      opacity: 1;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      z-index: 10;
      transition: opacity 0.2s;
      opacity: 0;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  a {
    &:link,
    &:visited,
    &:active {
      display: block;
      padding: 12px;
      text-decoration: none;
      margin-bottom: 8px;
      cursor: pointer;
      color: black;
    }

    &:hover {
      background: rgba(231, 210, 27, 1);
    }
  }

  &--liveLink {
    background: rgba(216, 219, 224, 1);
  }

  &--githubLink {
    background: black;
    color: white !important;

    &:hover {
      color: #000 !important;
    }
  }

  &--name {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: white;
    z-index: 20;
    font-size: 23px;
    transition: opacity 0.2s;
    opacity: 0;
  }
}

// animation for project items
@for $i from 0 through 20 {
  .Project-#{$i} {
    animation: project 0.5s ease-out 0.3s * $i + 0.1s forwards;

    @keyframes project {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
