.NavItem {
  opacity: 0;
  overflow: hidden;

  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    transition: color 0.2s;
    padding: 20px 0;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 2px;

    @media screen and (max-width: 900px) {
      font-size: 22px;
      padding: 18px;
    }
  }

  a.active,
  a:hover {
    color: rgba(231, 210, 27, 1) !important;
  }
}

// animation for NavItem
@for $i from 0 through 3 {
  .NavItem-#{$i} {
    animation: navItem 0.4s ease-out 0.2s * $i + 0.1s forwards;

    @keyframes navItem {
      0% {
        opacity: 0;
        transform: translateX(110%);
      }
      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
