.NavItem {
  a,
  a:active,
  a:visited {
    text-decoration: none;
    color: #fff;
    font-size: 27px;
    transition: color 0.2s;
    padding: 20px 0;
    display: inline-block;
    font-weight: 300;
    letter-spacing: 2px;

    @media screen and (max-width: 900px) {
      font-size: 22px;
      padding: 18px;
    }
  }

  a.active,
  a:hover {
    color: rgba(231, 210, 27, 1) !important;
  }
}
